<script defer src="https://cloud.umami.is/script.js" data-website-id="a047af03-1bff-4dcf-b6f2-88c9b60d82e4"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-120W33N547"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-120W33N547');
</script>

<!-- IndexNow API Key Verification -->
<link rel="indexnow" href="{{ get_url(path='f1e7c9dc53c94d1f8e7236e9f4d56227.txt') }}">

